

a {
    font-size:xx-large;
    font-family:"Poppins";
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    position:absolute;
    padding: 1%;
    text-align: center;
    vertical-align:middle;
    display: flex;
    min-width: 170px;
    min-height: 93.45px;
    transition: opacity 0.3s ease-in-out;
}

.navbar-home {
    text-align: center;
    vertical-align: middle;
    display: flex;
    transition: opacity 0.3s ease-in-out;

}


.profilepic {
   height: 500px
}

.navbar {
    background-color: #4fa39c;
    padding-left: 150px;
    padding-top: 50px;
    height: 90px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: right 40px;
    display: flex;
    float: right;
}

.navbar li {
    margin-right: 20px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
}


.navbar a:hover {
    color: #FBB786;
}

.heroImg {
    height: 650px;
    padding: 25px;
    border-radius: 50%;
    float: inherit;
}

.profilepic{
    height: 450px;
    width: 450px;
}

.content {
    width: 500px;
    margin: 0 auto;
    font-family: serif;
    font-size: large;
    
}


.display:inline-block {
    vertical-align: top;
}

.MyUXSkills{
 
    font-size: large;
    font-family: serif;
    text-align: center;
}


.MyUXSkills { 
    grid-area: "MyUXSkills";
    display: flex;
    justify-content: space-around;
    flex-basis: 33%;
    background-color: #4fa39c;
    font-family: "Poppins";
    box-sizing:border-box;
    margin: 20px auto;
    padding: 50px; 
    max-width: 1200px;
    gap: 20px;
    width: 1020px;
    height: 300px;
    border-radius: 16px;
    }
   

  .MyWork {
    grid-area: "MyWork" 
}

    .grid-container{ 
    display: flex;
    justify-content: space-around; 
    row-gap: 200px; 
    padding: 50px;
    
    }
   
  
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
  button {
    background-color: #FBB786; /* light oragne */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }

  button:hover{
    background-color: #4fa39c;
    color: white
    
  }
h4{
    text-align: center;
    font-size: x-large;
}
p{ text-align: center;
font-size: large;
font-family: "Poppins"
}

h3{
    text-align: center;
    font-size: x-large;
}

   

  @media only screen and (max-width: 600px){
    .flexContainer{
        display: flex;
        flex-direction: column;
    }
    .flexContainer > div{
        width: 100%;
    }
    .workGrid{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: ".workGrid > div:nth-child(1)" ".workGrid > div:nth-child(2)" ".workGrid > div:nth-child(3)" ".workGrid > div:nth-child(4)"
    }
}